*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 2rem 0;
}
.container{
    max-width: 1125px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
} 
.justify-between{
    justify-content: space-between;
}
.half-width img{
    width: 100%;
}
.half-width{
    width: 50%;
    margin: 0 25px;
    
}
h1{
    font-size: 2rem;
    margin: 30px 0;
}
h1 span{
    color: orange;
}
h3{
    margin-bottom: 15px;
}
p{
    color: grey;
    font-size: 17px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
header{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.download-sec{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.card{
    background-color: #FFFFFF;
    margin-left: 25px;
    padding: 2rem;
    padding-bottom: 4rem !important;
    box-shadow: 10px 10px 10px gray;
}
.card-1{
    border-left: 6px solid #FF6347;
}
.card-2{
    border-left: 6px solid #0000FF ;
}
.third-section{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    padding-top: 2rem;
}
footer span{
    text-align: center;
    display: block;
    
}